/*  your css code here. If applicable */
.middle{
    margin: auto;
    width: 60%;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}

table{
	width:60%;
    border: 1px solid black;
    border-spacing: 1px;
}

td{
	height:30px;
    padding: 1px;
    border: 1px solid black;
	
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}